
:root {
  --background: rgba(255, 176, 30, .85);
}

*, *::before, *::after {
  box-sizing: border-box;
}

body {
	margin: 0;
	background: ;
	font-family: 'Work Sans', sans-serif;
	font-weight: 400;
}

content {
  height: 200vh;
  background-image: url(//unsplash.it/1000/1000);
  background-color: #FFFFFF;
  background-blend-mode: multiply;
  background-size: cover;
  display: grid;
  place-items: center;
}
main{
  display: grid;
}

/* navigation styles start here */

header {
  background: var(--background);
  text-align: center;
  position: fixed;
  top:0;
  z-index: 999;
  width: 100%;
}

/* changed this from the tutorial video to
   allow it to gain focus, making it tabbable */
.nav-toggle{
  position: absolute!important;
  top: -9999px !important;
  left: -9999px !important;
}

.nav-toggle:focus ~ .nav-toggle-label {
  outline: 3px solid rgba(lightblue, .75);
}

.nav-toggle-label {
  position: absolute;
  top: 0;
  left: 0;
  margin-left: 1em;
  height: 100%;
  display: flex;
  align-items: center;
}

.nav-toggle-label span,
.nav-toggle-label span::before,
.nav-toggle-label span::after {
  display: block;
  background: white;
  height: 2px;
  width: 2em;
  border-radius: 2px;
  position: relative;
}

.nav-toggle-label span::before,
.nav-toggle-label ::after {
  content: '';
  position: absolute;
}

.nav-toggle-label span::before {
  bottom: 7px;
}

.nav-toggle-label span::after {
  top: 7px;
}

nav {
  position: absolute;
  text-align: left;
  top: 100%;
  left: 0;
  background: var(--background);
  width: 100%;
  transform: scale(1, 0);
  transform-origin: top;
  transition: transform 400ms ease-in-out;
}

nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

nav li {
  margin-bottom: 1em;
  margin-left: 1em;
}

nav a {
  color: white;
  text-decoration: none;
  font-size: 1.2rem;
  text-transform: uppercase;
  opacity: 0;
  transition: opacity 150ms ease-in-out;
}

nav a:hover {
  color: #000;
}

.nav-toggle:checked ~ nav {
  transform: scale(1,1);
}

.nav-toggle:checked ~ nav a {
  opacity: 1;
  transition: opacity 250ms ease-in-out 250ms;
}

@media screen and (min-width: 550px) {
  .nav-toggle-label {
    display: none;
  }

  header {
    display: grid;
    grid-template-columns: 1fr auto minmax(625px, 4fr) 1fr;
  }

  .logo {
    grid-column: 2 / 3;
  }

  nav {
    // all: unset; /* this causes issues with Edge, since it's unsupported */

    /* the following lines are not from my video, but add Edge support */
    position: relative;
    text-align: left;
    transition: none;
    transform: scale(1,1);
    background: none;
    top: initial;
    left: initial;
    /* end Edge support stuff */

    grid-column: 3 / 4;
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }

  nav ul {
    display: flex;
    height: 40px;
  }

  nav li {
    margin-left: 3em;
    margin-bottom: 0;
  }

  nav a {
    opacity: 1;
    position: relative;
  }

  nav a::before {
    content: '';
    display: block;
    height: 5px;
    background: black;
    position: absolute;
    top: -.75em;
    left: 0;
    right: 0;
    transform: scale(0, 1);
    transition: transform ease-in-out 250ms;
  }

  nav a:hover::before {
    transform: scale(1,1);
  }
/*End of HEADER */


/*Tekstbox*/
.search-box{
  position: relative;
  top: %;
  left: %;
  transition: 0.4s;
}
.search-txt{
    padding: -1px;
    color: black;
    font-size: 16px;
    transition: 0.4s;
    line-height: 20px;
    width: 110px;
}

.Mulige-valg  {
  position: relative;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction:row;
  text-align: center;
  margin-top: 80px;

}

.dropned {
  float: center;
  overflow: hidden;
}



.dropned .dropnedbtn{
  cursor: pointer;
  font-size: 16px;
  border: none;
  outline: none;
  color: white;
  padding: 14px 16px;
  font-family: inherit;
  margin: 0;
}

.dropdown-kontent {
  background-color:rgb(221, 247, 255);
  position: absolute;
  display: none;
  width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  transform: translateX(-21%);
}

.valg{
  padding-left: 5px;
  padding-right: 5px;
  margin-left: 3px;
  margin-right: 3px;
}

.dropdown-kontent #myDropdown {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
  overflow: hidden;
}

.dropdown-kontent div:hover {
  background-color: #ddd;
  overflow: hidden;
}

.show {
  display: block;
  overflow: hidden;
}



/* Main Json kontrolleringer  */
#secBoker{
  display: grid;
  grid-template-columns: repeat(6,1fr);
  grid-gap: px;
  margin-top: 35px;
  justify-content: center;
}
@media(max-width: 1250px){
#secBoker{
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr ;


  }
}

@media(max-width: 1270px){
#secBoker{
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr ;


}
}

@media(max-width: 1080px){
#secBoker{
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr ;


}
}
@media(max-width: 1060px){
#secBoker{
  grid-template-columns: 1fr 1fr 1fr 1fr ;


}
}

@media(max-width: 865px){
#secBoker{
  grid-template-columns: 1fr 1fr 1fr ;


}
}
@media(max-width: 650px){
#secBoker{
  grid-template-columns: 1fr 1fr ;


}
}
#secPopup{
  display: none;
  position: fixed;
  height: 400px;
  width: 900px;
  overflow: hidden;
  left: 15%;
  top: 20%;
  transform: translate(-50% -50%);
  background-color: rgb(221, 247, 255);
}

#secPopup img{
  float: right;
  margin: 0px 0px 15px 15px;
}
#secPopup h3{
  float: right;
  margin: 0px 0px 15px 15px;
}
