body{background-color:#E0E0E0;}

  h1{width: 40%;
margin-left: auto;
margin-right: auto;color:#C8B400;}

  main{width: 60%;
margin-left: auto;
margin-right: auto;}
{border-radius: 50%; width:100px; height:100px;}



  p{ width: 40%;
margin-left: auto;
margin-right:auto;font-family: "Century Gothic", Arial,sans-serif;
}

  img{width: 42%;
margin-left: auto;
margin-right:auto;
border: 10px solid orange }
.rundtBilde{border-radius: 50%; width:226px; height:450px;}
