*{
  margin: 0;
  padding: 0;
}
.head{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;

}
.logo{
background-color: red;

}
.home{
background: blue;

}
.about{
background-color: green;

}
.main{
  display: grid;
  grid-template-columns: 250px 900px 250px;
  justify-content:center;

}
.background{
text-align: center;
background-color: red;
}
.info{
text-align: center;
background-color: blue;
}
.relatert{
  grid-template-columns: 100px;
}

.andre{
  background: yellow;
  border: 2px solid;
  display: grid;
  grid-auto-columns:450px;
  grid-auto-rows: 200px;
}
.background2{
text-align: center;
background-color: green;
}
.footer_info{
text-align: center;
