*{
  margin: 0;
  padding: 0;
}
.head{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;

}
.logo{
background-color: red;

}
.home{
background: blue;

}
.about{
background-color: green;

}
.main{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-content:center;

}
.background{
text-align: center;
background-color: red;
}
.info{
text-align: center;
background-color: blue
}
.relatert{
  background: white;
}
.background2{
text-align: center;
background-color: green;
}
.footer_info{
text-align: center;
