body{
font-family: helvetica, sans-serif;
background-color: darkorange;
}
div{
  padding-left: 10px;
}
/* Det å bruke div body og section er egentlig ikke noe serlig bra;*/
section{
  display: grid;
  grid-gap: 1px;
  /*grid-template-columns: 40px 40px 40px; /* det her er ikke så fin måte å bruke grid på, men hver gang man skriver, så deler den opp i så så mange kolloner/rader;*/
  /*grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;  Dette er også for mange repetiosjoner ;*/
  grid-template-columns: repeat(18, 1fr);

  grid-auto-rows: minmax(40px,auto);
}
.span-2{
  grid-column: span 10;
}
.span-1{
  grid-column: span 16;
}
.usynlig{
  opacity: 0;
}
.span-nedover-3{
  grid-row: span-nedover-3;
}
.navn{
  font-size: 8px;
}
.bokstav{
  text-align: center;
}
.m{
  background-color: #14C19B;
}
.im{
  background-color: #ffff99;
}
.hm{
  background-color: #ffbb99;
}
.m, .im, .hm{
  border: solid black;
  border-radius: 4px;
}
